body{
    font-family: "Amazon Ember",Arial,sans-serif;
}

nav{
    display: flex;
    background-color:#232F3E;
    height: 60px;
    padding: 10px;
}

nav img{
    height: 80px;
    margin-top: -14px;
}

.offcanvas-start{
    max-height: 50%;
    margin: auto;
    border-radius: 20px;
}

nav>button{
    background-color: transparent;
    color: white;
}

#deliver{
    color: white;
}

#deliver:hover{
    color: white;
    border: 1px solid white;
}

#offcanvasWithBothOptionsLabel{
    background: rgba(128, 128, 128, 0.274);
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    
}

#yellow-signin{
    background: rgb(255, 230, 0);
    width: 100%;
    border-radius: 10px;
    border: none;
}

.offcanvas-body{
    text-align: center;
}

.offcanvas-body>input{
    padding:5px;
}

#Country{
    background: white;
}

#search{
    width: 65%;
    padding: 4px;
}

.middle-nav{
    width: 50%;
}

#nav-search-submit-button{
    padding: 5px;
    width: 5%;
    border-radius: 5px;
    color: white;
    background: orange;
    border: none;
    margin-right: 1px;
}

.rightnav{
    display: flex;
    background-color: inherit;
}

.rightnav-btn{
    background-color:#232F3E;
    border: 1px solid #232F3E;
}

.rightnav-btn:hover{
    border: 1px solid white;
}

#sign-in-nav{
    width: 500px !important;
    text-align: center;
}

#sign-in-nav>button{ 
    color: white;
    background: linear-gradient(180deg,white -10px,orange );
    border: none;
    width: 200px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}