body {
    font-family: "Amazon Ember", Arial, sans-serif;
    background-color: rgb(230, 230, 230);
}

#nav {
    display: flex;
    background-color: #232F3E;
    height: 10vh;
    padding: 1.5vh;
}



.imgdiv-nav {
    height: 10vh;
    width: 20vh;
    margin-left: 2vh;
}

.imgdiv-nav>img {
    width: 12vh;
}

.offcanvas-start-1 {
    max-height: 55%;
    margin: auto;
    border-radius: 20px;
    text-align: center;
}

#nav>button {
    background-color: transparent;
    color: white;
}

#deliver {
    color: white;
    width: fit-content;
    font-size: 2vh;
}

#deliver:hover {
    color: white;
    border: 1px solid white;
}


#yellow-signin {
    background: rgb(255, 230, 0);
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 5px;
}

#yellow-signin:hover {
    background: rgb(226, 204, 0);
    
}


#Country {
    background: white;
    width: 10vh;
}



#search {
    width: 80vh;
    padding: 4px;
}

.middle-nav {
    display: flex;
}

#nav-search-submit-button {
    padding: 5px;
    width: 10vh;
    border-radius: 5px;
    color: white;
    background: orange;
    border: none;
    margin-right: 1px;
}

.rightnav {
    display: flex;
    background-color: inherit;

}

.rightnav-btn {
    background-color: #232F3E;
    border: 1px solid #232F3E;
    height: 6vh;
}

.rightnav-btn:hover {
    border: 1px solid white;
}

#sign-in-nav {
    width: 500px !important;
    text-align: center;
    font-size: 2vh;
}

#sign-in-nav>button {
    color: white;
    background: linear-gradient(180deg, white -10px, orange);
    border: none;
    width: 200px;
    margin: auto;
    padding: 5px;
    border-radius: 5px;
    margin: auto;
}

.nav-sign-list-opt {
    display: grid;
    grid-template-columns: 50% 50%;
    cursor: pointer;
}

.nav-sign-list-opt>div {
    text-align: left;
    margin: 10px;

}

.nav-sign-list-opt>div:nth-child(1) {
    border-right: 1px solid grey;
}

.nav-sign-list-opt>div>a {
    color: grey;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.nav-sign-list-opt>div>a:hover {
    color: orange;
    text-decoration: underline;
    transition: 100ms;
}

.order-cart {
    margin: 5px;
    color: white;
    background-color: transparent;
    border: 1px solid transparent;
    align-self: center;
    border-radius: 5px;
    height: 100%;
}

.order-cart:hover {
    border: 1px solid white;
}

#Country2 {
    border: 1px solid grey;
    background-color: white;
    width: 100%;
}


#choose-loaction {
    text-align: center;
}

#choose-loaction {
    padding: 5px;
}



.mini-p{
    font-size: 2vh;
    
}

#location-form-nav{
    border: 1px soid grey;
}

#i-am-also-nav{
    display: flex;
    background-color: #232f3ed5;
    gap: 2vh;
    
}

#menu-btn-nav2{
    color: white;
    font-size: 2vh;
    ;
    z-index: 1000;
    cursor: pointer;
    margin-left: 5vh;
    font-weight: bold;
}

#menu-btn-nav2:hover{
    color: white;
    border: 1px solid white;
    
}

#i-am-also-nav>a{
    color: white;
    font-size: 2vh;
  margin: 0.5vh;
  text-decoration: none;
  align-self: center;
 
}

#menu-canvas>a{
color: black;
text-decoration: none;
display: inline-block;
width: 90%;
margin: 2vh;
font-size: 2.1vh;
}

#menu-canvas>h5{
    color: red;
    font-size: 2vh;
}

#main-container{
    max-width: 1500px;
    margin: auto;
}

#main-head-1{
    background-color: white;
    width: 95%;
    margin: auto;
    padding: 1vh;
    font-size: 2.02vh;
    text-align: center;
    margin-top: -35vh;

}

.carousel-item{
z-index: -1000;
}


.box1{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    margin-top: 40px;
    gap: 2.8vh;
    margin:3vh;
    
}

.box1>div{
    background-color: white;
    padding: 2.8vh;
    cursor: pointer;
}

.box1>div>h2{
    font-size: 3.2vh;
    font-weight: bold;
}

.box1-m{
    display: grid;
   grid-template-columns: auto auto;
   gap: 1vh;
cursor: pointer;
}

.box1-m>div>h3{
    font-size: 2vh;
}

.box1>div>p{
    color: blue;
}

.box1 img{
    width: 100%;
    
}

.box2{
    background-color: white;
    max-width: 1300px;
    margin: auto;
    padding: 2.5vh;
    margin-top: 20px;
    gap: 20px;
}

.box2>h1{
    font-size: 3vh;
    font-weight: bold;
}

.box2>div{
    display: flex;
    gap: 20px;
}


.box3{
    background-color: white;
    max-width: 1300px;
    margin: auto;
    padding: 2.5vh;
    margin-top: 20px;
}

.box3>h1{
    font-size: 3vh;
    font-weight: bold;
}

.box3>div{
    display: flex;
}

.last{
    background-color: white;
    text-align:center ;
    padding-top: 40px;
    margin-top: 20px;
    padding-bottom: 40px;
}

.last>h5{
    font-weight: bold;
    font-size: 2.2vh;
}

.last>button{
    width: 300px;
    border-radius: 10px;
    background-color: orange;
    border: none;
    font-weight: bold;
    padding: 5px;
}

.last>p{
    font-size: 2vh;
}

.upper-footer{
    background-color: #232f3eda;
    color: white;
    text-align: center;
    padding: 10px;
}

.main-footer{
    background-color: #232f3e;
    color: white;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 40px;
    padding: 100px;
}

.main-footer a{
    display: inline-block;
    width: 100%;
    margin: 6px;
    text-decoration: none;
    color: white;
    font-weight: normal;
    font-size: 2.3vh;
}

.main-footer a:hover{
    text-decoration: underline;
}

.bottom-footer{
    display: flex;
    background-color: #232F3E;
    border-top: 1px solid white;
    text-align: center;
    padding: 20px;
    padding-left: 32%;
    gap: 40px;
    color: white;
}

.bottom-footer img{
width: 10vh;

}

.last-footer{
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 10% 15% 15% 10% 12% 15% 18%;
    padding: 100px;
    gap: 20px;
}

.last-footer a{
color: rgba(216, 216, 216, 0.767);
font-size: 1.7vh;
text-decoration: none;
}

.last-footer h1{
    font-size: 2vh;
    margin-top: 40px;
}

.last-last-footer{
    color: white;
    background-color: black;
    text-align: center;
    padding: 40px;
    font-size: 1.8vh;
}

.last-last-footer a{
    color: white;
    text-decoration: none;
    margin: 10px;
    font-size: 1.8vh;
}

.last-last-footer a:hover{
    text-decoration: underline;
    
}

img{
        cursor: pointer;
    transition: 1s ease-in-out;
}

img:hover{
    transform:scale(1.2);

    border-radius: 10px;
}